body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background: #0a984e;
    color: white;
}

section {
    background: white;
    max-width: 200px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

input {
    width: 94%;
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: #98916b 2px 2px 1px;
}

button {
    width: 100%;
    background: #0a984e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #087d41;
}
footer {
    text-align: center;
    padding: 20px;
    background: #0a984e;
    color: white;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;

}