body {
    font-family: Arial,Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f6fa;
    color: #222
}
header {
    background-color: #0a984e;
    color: white;
    padding: 20px;
    text-align: center;
    width:  auto;
    height: auto;
}
header h1 {
    margin-top: 0;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
header nav a:hover {
    text-decoration: underline;
}
h2 {
    color: #0a984e;
}
section {
    background: white;
    margin: 30px;
    max-width: 2000px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
}

button {
    background-color: #0a984e;
    color: white;
    padding: 10px 14px;
    margin: 5px 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

button:hover {
    background-color: #98916b;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table th {
    background-color: #0a984e;
    color: white;
}

table td, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    color: #555;
    padding: 15px;
    margin-top: 20px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin: 0 auto 10px;
    border-radius: 12px;
}